body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
}

.events-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.events-button:hover {
  background-color: #45a049;
}

.active-link {
  background-color: #45a049;
}

.content {
  margin: 20px;
}